<div class="header-section">
    <h1>Methane</h1>
    <p class="subtitle">The invisible climate accelerator</p>
</div>
<div class="graph-container" *ngIf="!errorMessage">
    <canvas baseChart
        [type]=" 'line' "
        [datasets]="dataSet"
        [labels]="labels"
        [options]="chartOptions"
    ></canvas>
</div>

<div class="error-message" *ngIf="errorMessage">
    <p>{{ errorMessage.message }}</p>
</div>

<div class="text-container">
    <p>Methane is a flammable gas formed by geological and biological processes. Some of the natural ones are leaks from natural gas systems and wetlands.</p>

    <p>50-65% of total global methane emissions come from human activities. These include livestock, agriculture, oil and gas systems, waste from homes and businesses, landfills, and so on.</p>

    <p>Methane is a gas with a global warming potential several times stronger than of CO2. For more than 650,000 years, methane concentration in the atmosphere was between 350 - 800 ppb.</p> 
    
    <p class="highlight">From the beginning of the industrial revolution, human activities have increased this amount by around 150%.</p>

    <p>For more detailed information please visit <a href="https://global-warming.org/">Global Warming website</a></p>
</div>