<mat-toolbar color="primary">
  <div (click)="toggleSidenav()" class="btn">
    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
  </div>
  <span routerLink="/home" class="toolbar-title">Climatic Change Dashboard</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" style="height: 100vh;">
  <mat-sidenav #snav [mode]="sidenavMode" opened="false" (opened)="onSidenavOpened()" (closed)="onSidenavClosed()">
    <app-sidebar-menu></app-sidebar-menu>
  </mat-sidenav>
    <div class="main-content-wrap">
    <router-outlet></router-outlet>
    <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
</mat-sidenav-container>
