
<mat-nav-list class="page-list">            
  <a mat-list-item routerLink="/home">
    <img src="assets/home-svgrepo-com.svg" alt="" class="menu-icon" />
    Home
  </a>
  <a mat-list-item routerLink="/temperature">
    <img src="assets/thermometer-svgrepo-com.svg" alt="" class="menu-icon" />
    Temperature
  </a>
  <a mat-list-item routerLink="/co2">
    <img src="assets/co2-svgrepo-com.svg" alt="" class="menu-icon" />
    CO2
  </a>
  <a mat-list-item routerLink="/methane">
    <img src="assets/methane-2.svg" alt="" class="menu-icon" />
    Metano
  </a>
  <a mat-list-item routerLink="/no2">
    <img src="assets/nitrogen-dioxide.svg" alt="" class="menu-icon" />
    NO2
  </a>
  <a mat-list-item routerLink="/polar-ice">
    <img src="assets/arctic-svgrepo-com.svg" alt="" class="menu-icon" />
    Polar Ice
  </a>
</mat-nav-list>


