<div class="pages-container">
    <div class="intro-section">
        <h1>Climate Change Dashboard</h1>
        <p>Global warming is changing our planet day by day. 
        This website lets you explore key environmental data to better understand the impact of greenhouse gases and climate change.
        You can view the trends in global temperatures, CO₂ levels, methane, nitrous oxide, and the ongoing reduction of Arctic ice.
        Looking at the data is the first step toward understanding reality and building a more informed future.</p>
    </div>
    <section class="card-wrapper">
        <div class="card-grid-space">
            <a class="card" routerLink="/temperature" style="--bg-img:url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ">
            <div>
                <h1>Temperature</h1>
                <p>Shows the rise of global temperatures since 1880 due to greenhouse gases.</p>
            </div>
        </a>
        </div>
        <div class="card-grid-space">
            <a class="card" routerLink="/co2" style="--bg-img:url(https://images.unsplash.com/photo-1507715524600-6fb8e965fe2f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div>
                <h1>CO2</h1>
                <p>Tracks atmospheric CO₂ levels over time, a major driver of climate change.</p>
            </div>
        </a>
        </div>
        <div class="card-grid-space">
            <a class="card" routerLink="/methane" style="--bg-img:url(https://images.unsplash.com/photo-1583994735934-ee79858bb542?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div>
                <h1>Methane</h1>
                <p>Displays methane (CH₄) concentration trends, a potent greenhouse gas.</p>
            </div>
        </a>
        </div>
        <div class="card-grid-space">
            <a class="card" routerLink="/no2" style="--bg-img:url(https://images.unsplash.com/photo-1615640848855-c6c0a9e19b69?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div>
                <h1>NO2</h1>
                <p>Visualizes nitrous oxide levels, contributing to the greenhouse effect.</p>
            </div>
        </a>
        </div>
        <div class="card-grid-space">
            <a class="card" routerLink="/polar-ice" style="--bg-img:url(https://images.unsplash.com/photo-1610049406731-622bead40aaf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div>
                <h1>Polar Ice</h1>
                <p>Highlights Arctic sea ice decline, one of the most visible effects of warming.</p>
            </div>
        </a>
        </div>
    </section>     
</div>